@charset "Shift_JIS";

/* ---------------------------------------------------------------------------------------------------------
 index
--------------------------------------------------------------------------------------------------------- */

/* 画像切り替え
-----------------------------------*/
#top_scroll2 {
		margin-top: 0px;
		height: 646px;
}
#top_scroll2 .top_scroll_txt {
		width: 1140px;
		margin: 0px auto;
}

.top_title02 {
	background: url(../images/top_link_title.png) no-repeat 0 0;
	width: 174px;
	height: 116px;
	color: #fff;
	position: relative;
}
.top_title02 h2 {
	position: absolute;
	top: 31px;
	left: 49px;
	font-size: 19px;
	font-size: 1.9rem;
}
.top_title02 h2 span {
	display: block;
	padding-top: 2px;
	padding-left: 17px;
	font-size: 11px;
	font-size: 1.1rem;
	font-weight: normal;
}


/* list
-----------------------------------*/
.top_list { background: url(../images/top_list_bg.jpg) no-repeat center top #f9edf2; padding-bottom: 20px;}

@keyframes tabAnim{
	0%{opacity:0;}
	100%{opacity:1;}
}
/*.tab_wrap{width:500px; margin:80px auto;}*/
.top_list .tab_wrap {
	position: relative;
	top: -49px;
}
.tab_wrap h2 {
	position: absolute;
	top: -117px;
	left: 0;
}
.tab_wrap input[type="radio"]{display:none;}

.top_list .tab_area {font-size:0; text-align: left; margin-left: 185px;}
.tab_area label{width:186px; margin:0 2px 4px; display:inline-block; padding:12px 0; color:#26021b; background:#fff; text-align:center; font-size:13px; font-size:1.3rem; cursor:pointer; transition:ease 0.2s opacity;}
.tab_area label:hover{opacity:0.5;}

.tab_panel{width:100%; opacity:0; padding:62px 0 0; display:none;}
.tab_panel p{font-size:14px; letter-spacing:1px; text-align:center;}

#tab1:checked ~ .tab_area .tab1_label{background:#26021b; color:#fff;}
#tab1:checked ~ .panel_area #panel1{display:block; animation:tabAnim ease 0.6s forwards; -ms-animation:tabAnim ease 0.6s forwards;}
#tab2:checked ~ .tab_area .tab2_label{background:#26021b; color:#fff;}
#tab2:checked ~ .panel_area #panel2{display:block; animation:tabAnim ease 0.6s forwards; -ms-animation:tabAnim ease 0.6s forwards;}
#tab3:checked ~ .tab_area .tab3_label{background:#26021b; color:#fff;}
#tab3:checked ~ .panel_area #panel3{display:block; animation:tabAnim ease 0.6s forwards; -ms-animation:tabAnim ease 0.6s forwards;}
#tab4:checked ~ .tab_area .tab4_label{background:#26021b; color:#fff;}
#tab4:checked ~ .panel_area #panel4{display:block; animation:tabAnim ease 0.6s forwards; -ms-animation:tabAnim ease 0.6s forwards;}
#tab5:checked ~ .tab_area .tab5_label{background:#26021b; color:#fff;}
#tab5:checked ~ .panel_area #panel5{display:block; animation:tabAnim ease 0.6s forwards; -ms-animation:tabAnim ease 0.6s forwards;}
#tab6:checked ~ .tab_area .tab6_label{background:#26021b; color:#fff;}
#tab6:checked ~ .panel_area #panel6{display:block; animation:tabAnim ease 0.6s forwards; -ms-animation:tabAnim ease 0.6s forwards;}
#tab7:checked ~ .tab_area .tab7_label{background:#26021b; color:#fff;}
#tab7:checked ~ .panel_area #panel7{display:block; animation:tabAnim ease 0.6s forwards; -ms-animation:tabAnim ease 0.6s forwards;}
#tab8:checked ~ .tab_area .tab8_label{background:#26021b; color:#fff;}
#tab8:checked ~ .panel_area #panel8{display:block; animation:tabAnim ease 0.6s forwards; -ms-animation:tabAnim ease 0.6s forwards;}
#tab9:checked ~ .tab_area .tab9_label{background:#26021b; color:#fff;}
#tab9:checked ~ .panel_area #panel9{display:block; animation:tabAnim ease 0.6s forwards; -ms-animation:tabAnim ease 0.6s forwards;}
#tab10:checked ~ .tab_area .tab10_label{background:#26021b; color:#fff;}
#tab10:checked ~ .panel_area #panel10{display:block; animation:tabAnim ease 0.6s forwards; -ms-animation:tabAnim ease 0.6s forwards;}

#tab1:checked ~ .tab_area .tab1_label,
#tab2:checked ~ .tab_area .tab2_label,
#tab3:checked ~ .tab_area .tab3_label,
#tab4:checked ~ .tab_area .tab4_label,
#tab5:checked ~ .tab_area .tab5_label,
#tab6:checked ~ .tab_area .tab6_label,
#tab7:checked ~ .tab_area .tab7_label,
#tab8:checked ~ .tab_area .tab8_label,
#tab9:checked ~ .tab_area .tab9_label,
#tab10:checked ~ .tab_area .tab10_label { position: relative;}
#tab1:checked ~ .tab_area .tab1_label:after,
#tab2:checked ~ .tab_area .tab2_label:after,
#tab3:checked ~ .tab_area .tab3_label:after,
#tab4:checked ~ .tab_area .tab4_label:after,
#tab5:checked ~ .tab_area .tab5_label:after,
#tab6:checked ~ .tab_area .tab6_label:after,
#tab7:checked ~ .tab_area .tab7_label:after,
#tab8:checked ~ .tab_area .tab8_label:after,
#tab9:checked ~ .tab_area .tab9_label:after,
#tab10:checked ~ .tab_area .tab10_label:after {
  font-family: "Font Awesome 5 Free";
  content: "\f0dd";
	font-weight: 900;
  font-size: 100%;
  margin: 5px;
	position: absolute;
	bottom: -5px;
	left: 48%;
	-moz-transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
}

.top_list_item li { position: relative; margin-bottom: 40px;}
.top_list_item li .icon_sold { position: absolute; top: -4px; left: 28px; z-index: 10;}
.top_list_item li a { color: #26021b;}
.top_list_item li:hover {
	opacity: 0.7;
	filter: alpha(opacity=70);
	-moz-opacity: 0.7;
	-moz-transition: opacity 1s ease-out;
	transition: opacity 1s ease-out;
}
.top_list_item li .top_list_img {
	background: #bebebe;
	overflow: hidden;
	position: relative;
	width: 100%;
	height: 190px;
	margin-bottom: 2px;
}
.top_list_item li .top_list_img img {
  position: absolute;
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  left: 50%;
  top: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0);
          transform: translate3d(-50%, -50%, 0);	
}
.top_list_item li .top_list_text {
	padding: 10px 20px 15px;
	background: url(../images/top_list_text_bg.jpg);
	border: #e5cad6 solid 1px;
	position: relative;
	font-size: 13px;
	font-size: 1.3rem;
	line-height: 1.7em;
}
.top_list_item li .top_list_text div:nth-of-type(1) {
	background: url(../images/top_list_text_deco.png) no-repeat center top;
	padding-top: 10px;
}
.top_list_item li .top_list_text span {
	position: absolute;
	bottom: 0;
	right: 0;
}

.btn_more {
	position: relative;
	display: block;
	width: 240px;
	padding: 20px 0;
	background: #26021b;
	text-align: center;
	color: #fff !important;
	margin: 0 auto;
}
.btn_more:after {
  font-family: "Font Awesome 5 Free";
  content: "\f105";
	font-weight: 900;
  font-size: 100%;
	position: absolute;
	right: 10px;
	top: 50%;
	-moz-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}
.btn_more:hover {
	opacity: 0.7;
	filter: alpha(opacity=70);
	-moz-opacity: 0.7;
	-moz-transition: opacity 1s ease-out;
	transition: opacity 1s ease-out;
}

/* news
-----------------------------------*/
.top_news { padding: 70px 0;}
.top_news .grid-row { align-items: center;}
.top_news .top_news_title { margin-right: auto;}
.top_news .top_news_text { width: 930px; border-left: #d3d3d3 solid 1px;}
.top_news .top_news_text dl {
	height: 185px;
	overflow: auto;
	padding-left: 40px;
	padding-right: 30px;
}
.top_news .top_news_text dl dt {
	display: block;
	width: 110px;
	text-align: center;
	float: left;
	padding: 15px 0;
}
.top_news .top_news_text dl dd {
	padding: 15px 0 15px 130px;
	background: url(../images/top_news_dotted.png) repeat-x left bottom;
}

/* contact
-----------------------------------*/
.top_contact {
	background: url(../images/top_contact_bg.jpg) no-repeat center top;
	padding: 92px 0 83px;
    margin-bottom: 100px;
}
.top_contact .grid-row { align-items: center;}
.top_contact .top_contact_text { margin-right: auto;}
.top_contact .top_contact_text h2 {
	font-size: 20px;
	font-size: 2.0rem;
}
.top_contact_method {
	border: #fff solid 2px;
	padding: 10px;
	width: 595px;
}
.top_contact_method dl {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
	align-items: center;
	padding: 10px 10px 20px;
}
.top_contact_method ul {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
	justify-content: space-between;
}
.top_contact_method ul li {
	background: url(../images/top_contact_btn_bg.jpg) no-repeat 0 0;
	width: 282px;
	height: 94px;
	padding-top: 20px;
	text-align: center;
	font-weight: bold;
}
.top_contact_method ul li:first-child::before {
	content: url(../images/top_contact_icon_tel.png);
	display: block;
}
.top_contact_method ul li:last-child a::before {
	content: url(../images/top_contact_icon_mail.png);
	display: block;
}
.top_contact_method ul li a {
	display: block;
	width: 100%;
	height: 100%;
	color: #26021b;
}
.top_contact_method ul li:last-child:hover {
	opacity: 0.7;
	filter: alpha(opacity=70);
	-moz-opacity: 0.7;
	-moz-transition: opacity 1s ease-out;
	transition: opacity 1s ease-out;
}

/* Link banner
-----------------------------------*/
.top_bnr { padding: 58px 0;}
.top_bnr .grid-row { align-items: center;}
.top_bnr_title { margin-right: auto;}
.top_bnr_list { text-align: right;}
.top_bnr_list ul {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
	margin-right: -5px;
}
.top_bnr_list ul li {
	padding: 0 5px;
}


/* ---------------------------------------------------------------------------------------------------------
 下層共通
--------------------------------------------------------------------------------------------------------- */


/* h2 main title
-----------------------------------*/
.hero_title {
	background: url(../images/hero_title_bg.jpg) no-repeat center top;
	height: 170px;
	text-align: center;
}
.hero_title h2 {
	text-align: center;
	color: #fff;
	font-size: 36px;
	font-size: 3.6rem;
	line-height: 1.1em;
	padding-top: 50px;
}
.hero_title h2 span {
	display: block;
	font-size: 18px;
	font-size: 1.8rem;
}

.title01 {
	background: #fd3489;
	border-radius: 8px;
	padding: 15px;
	color: #fff;
	font-size: 24px;
	font-size: 2.4rem;
	text-align: center;
}
.title02 {
	color: #fd3489;
	font-size: 30px;
	font-size: 3.0rem;
	text-align: center;
}
.title03 {
	position: relative;
	display: inline-block;
	margin-bottom: 2em;
	font-size: 30px;
	font-size: 3.0rem;
	text-align: center;
	left: 50%;
	-moz-transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
	width: 100%;
}
.title03 span {
	display: block;
	font-size: 18px;
	font-size: 1.8rem;
	font-weight: normal;
}
.title03:before {
	content: '';
	position: absolute;
	bottom: -15px;
	display: inline-block;
	width: 60px;
	height: 5px;
	left: 50%;
	-moz-transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
	background-color: #fd3489;
}
.sub_title01 {
	border-bottom: #e5cad6 solid 3px;
}



/* ---------------------------------------------------------------------------------------------------------
 List
--------------------------------------------------------------------------------------------------------- */
.list_box .tab_area {font-size:0; text-align: left;}

/* ---------------------------------------------------------------------------------------------------------
 List detail
--------------------------------------------------------------------------------------------------------- */
.btn_contact {
	display: block;
	width: 100%;
	padding: 20px 0;
	background: #fd3489;
	text-align: center;
	font-size: 16px;
	font-size: 1.6rem;
	color: #fff !important;
	position: relative;
}
.btn_contact:after {
  font-family: "Font Awesome 5 Free";
  content: "\f105";
	font-weight: 900;
  font-size: 100%;
	position: absolute;
	right: 10px;
	top: 50%;
	-moz-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}
.btn_contact:hover {
	opacity: 0.7;
	filter: alpha(opacity=70);
	-moz-opacity: 0.7;
	-moz-transition: opacity 1s ease-out;
	transition: opacity 1s ease-out;
}

.list_detail_overview dt { color: #fd3489; font-weight: bold; padding: 10px 0;}
.list_detail_overview dd { background: url(../images/top_news_dotted.png) repeat-x left bottom; padding: 10px 0;}
.list_detail_overview01 dt { float: left; display: block;}
.list_detail_overview01 dd { padding-left: 8em;}
.list_detail_overview02 dt { padding-bottom: 0;}
.list_detail_overview02 dd { padding-top: 0;}
.list_detail_overview02 .layout_img img { width: 100%; height: auto;}

.item_title {
	background: #f9edf2;
	border-top: #fd3489 solid 2px;
	border-bottom: #fd3489 solid 2px;
	padding: 18px;
	font-size: 20px;
	font-size: 2.0rem;
	margin-bottom: 1em;
}
#fotorama { margin: 1em 0 2em;}

.google-maps iframe {
	width: 100% !important;
	height: 400px !important;
}

.list_detail_btn {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
	justify-content: space-between;
}
.list_detail_btn ul.list_detail_btn02 {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.list_detail_btn ul.list_detail_btn02 li { margin-left: 10px;}
.list_detail_btn a {
	display: block;
	width: 100px;
	padding: 5px;
	text-align: center;
	color: #fff;
	border-radius: 100px;
	position: relative;
}
.list_detail_btn ul.list_detail_btn01 a { background: #401f35;}
.list_detail_btn ul.list_detail_btn02 a { background: #fd3489;}
.list_detail_btn a:hover {
	opacity: 0.7;
	filter: alpha(opacity=70);
	-moz-opacity: 0.7;
	-moz-transition: opacity 1s ease-out;
	transition: opacity 1s ease-out;
}
.list_detail_btn li.btn_list a::before {
  font-family: "Font Awesome 5 Free";
  content: "\f0d9";
	font-weight: 900;
  font-size: 100%;
	position: absolute;
	left: 10px;
	top: 50%;
	-moz-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}
.list_detail_btn li.bnt_prev a::before {
  font-family: "Font Awesome 5 Free";
  content: "\f104";
	font-weight: 900;
  font-size: 100%;
	position: absolute;
	left: 10px;
	top: 50%;
	-moz-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}
.list_detail_btn li.bnt_next a::after {
  font-family: "Font Awesome 5 Free";
  content: "\f105";
	font-weight: 900;
  font-size: 100%;
	position: absolute;
	right: 10px;
	top: 50%;
	-moz-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

/* ---------------------------------------------------------------------------------------------------------
 about
--------------------------------------------------------------------------------------------------------- */
.about_link_btn { text-align: center;}
.about_link_btn li { 
	display: inline-block;
	width: 260px;
	margin: 50px 15px 0;
}
.about_link_btn a {
	display: block;
	width: 100%;
	padding: 10px 0;
	background: #330f1f;
	text-align: center;
	color: #fff;
}
.about_link_btn a::after {
  font-family: "Font Awesome 5 Free";
  content: "\f0ab";
	font-weight: 900;
  font-size: 100%;
	margin-left: 10px;
}
.about_link_btn a:hover {
	opacity: 0.7;
	filter: alpha(opacity=70);
	-moz-opacity: 0.7;
	-moz-transition: opacity 1s ease-out;
	transition: opacity 1s ease-out;
}

.about_catch {
	font-size: 24px;
	font-size: 2.4rem;
	color: #fd3489;
	text-align: center;
	font-weight: bold;
}
.about_text { padding: 50px 50px 0;}

.about_flow li {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
	background: url(../images/top_list_text_bg.jpg);
	border: #e5cad6 solid 1px;
	padding-top: 20px;
	padding-bottom: 20px;
	margin-bottom: 30px;
}
.about_flow .col-2 { text-align: center;}
.about_flow li dl dt {
	font-size: 20px;
	font-size: 2.0rem;
	font-weight: bold;
	margin-bottom: .5em;
}

.about_point {
	align-items: center;
	padding-bottom: 30px;
	margin-bottom: 30px;
}

/* ---------------------------------------------------------------------------------------------------------
 company
--------------------------------------------------------------------------------------------------------- */
.company_route { padding-bottom: 30px;}
.company_route li { margin-bottom: 30px;}
.company_route li div { margin-bottom: 15px;}
.company_route li p {
}
.company_route li p span {
	display: inline-block;
	width: 20px;
	height: 20px;
	background: #330f1f;
	border-radius: 100px;
	color: #fff;
	text-align: center;
	margin-right: 5px;
}

/* ---------------------------------------------------------------------------------------------------------
 contact
--------------------------------------------------------------------------------------------------------- */

/* phone
-----------------------------------*/
.contact_tel,
.contact_tel_tel {
	font-size: 34px !important; 
	font-size: 3.4rem !important;
}
.contact_tel li {
	text-align: center;
}
.contact_tel span {
	display: block;
	padding-top: 10px;
	font-size: 18px;
	font-size: 1.8rem;
}

.contact_list_img {
	background: #bebebe;
	overflow: hidden;
	position: relative;
	width: 100%;
	height: 150px;
}
.contact_list_img img {
  position: absolute;
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  left: 50%;
  top: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0);
          transform: translate3d(-50%, -50%, 0);	
}

/* form
-----------------------------------*/
.required {
	display: inline-block;
	background: #be1010;
	color: #fff;
	padding: 3px 5px;
	border-radius: 3px;
	line-height: 1;
	margin-right: 5px;
	font-size: 76%;
}
.any {
	display: inline-block;
	background: #999;
	color: #fff;
	padding: 3px 5px;
	border-radius: 3px;
	line-height: 1;
	margin-right: 5px;
	font-size: 76%;
}

/* Chrome */
::-webkit-input-placeholder {
	color: #999;
}
/* Firefox */
::-moz-placeholder {
	color: #bebebe;
}
/* IE */
:-ms-input-placeholder {
	color: #bebebe;
}
input[type="checkbox"] {
	border: 1px solid #ccc;
	margin-right: 5px;
}

input[type="text"],
textarea {
	padding: 10px;
	outline: none;
	border-radius: 3px;
	border: 1px solid #ccc;
	-webkit-transition: all .3s;
	transition: all .3s;
	font-size: 16px;
	font-size: 1.6rem;
	box-sizing: border-box;
}
input[type="text"]:focus,
textarea:focus {
	box-shadow: 0 0 7px #1abc9c;
	border: 1px solid #1abc9c;
}
input[type="text"] {
	width: 100%;
}
input.w50[type="text"] {
	width: 50%;
}
textarea {
	width: 100%;
	height: 10em;
}

input[type="submit"],
input[type="button"] {
	width: 100%;
	padding: 10px;
	background-color: #51a137;
	border: none;
	color: #fff;
	-webkit-transition: background-color .2s;
	transition: background-color .2s;
	cursor: pointer;
	-webkit-appearance: none;
	border-radius: 5px;
	font-size: 16px;
	font-size: 1.6rem;
}
input[type="submit"]:hover,
input[type="button"]:hover {
	background-color: #76ba60;
}
input[type="submit"][disabled] {
	background-color: #ccc;
	cursor: default;
}
.accept { margin-top: 3em; text-align: center;}
.btn_submit {
	width: 70%;
	padding: 1em 0;
	background: #fd3489;
	border-radius: 6px;
	color: #fff;
	border: none;
	font-size: 16px;
	font-size: 1.6rem;
	margin-left: auto;
	margin-right: auto;
	display: block;
	margin-top: 1em;
}
.btn_back {
	width: 80%;
	padding: 1em 0;
	background: gray;
	border-radius: 6px;
	color: #fff;
	border: none;
	font-size: 16px;
	font-size: 1.6rem;
	margin-left: auto;
	margin-right: auto;
	display: block;
}
.btn_submit:hover,
.btn_back:hover {
	opacity: 0.7;
	filter: alpha(opacity=70);
	-moz-opacity: 0.7;
	-moz-transition: opacity 1s ease-out;
	transition: opacity 1s ease-out;
	cursor: pointer;
}

/* privacy policy
-----------------------------------*/
.pp { 
	text-align: left;
	overflow: auto;
	height: 250px;
	padding-right: 30px;
}
.pp h4 { border-bottom: #fd3489 solid 1px; font-size: 16px; font-size: 1.6rem; font-weight: bold; padding-bottom: 5px; margin-bottom: 20px;}


